body {
	display: flex;
	margin: 0;
}
#technologyarea {
	background-color: lightyellow;
	cursor: pointer;
	width: 50%;
	height: 30%;
	position: fixed;
}
.technology {
    font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
}