body {
	display: flex;
	margin: 0;
}
.easy {
    font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: lightgreen;
}
.medium {
	font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: gold; 
}
.hard {
	font-size: 5vh;
	color: white;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: orangered;
}
.outer_planets {
	font-size: 5vh;
	color: white;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: darkblue;
}