body {
	display: flex;
	flex-direction: column;
	margin: 0;
}
#area {
	background-color: lightyellow;
	cursor: pointer;
	width: 50%;
	height: 30%;
	position: fixed;
}
.rocket_name {
	font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
}
.components {
	
}