body {
	display: flex;
	margin: 0;
	flex-direction: column;
}
#area {
	background-color: lightyellow;
	cursor: pointer;
	width: 50%;
	height: 30%;
	position: fixed;
}
.items_rocket {
    font-size: 5vh;
	font-weight: bold;
	color: black;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: lightcoral;
    text-align: center;
	cursor: pointer;
}
.items_thruster {
	font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: skyblue;
    text-align: center;
	cursor: pointer;
}
.items_probe {
	font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: white;
    text-align: center;
	cursor: pointer;
}
.items_astronaut {
	font-size: 5vh;
	font-weight: bold;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: lightgreen;
    text-align: center;
	cursor: pointer;
}
.items_supply {
	font-size: 5vh;
	font-weight: bold;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: skyblue;
    text-align: center;
	cursor: pointer;
}
.items_capsule {
	font-size: 5vh;
	font-weight: bold;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: khaki;
    text-align: center;
	cursor: pointer;
}
.items_sample {
	font-size: 5vh;
	border: 0.5vh solid black;
    border-radius: 1vh;
	background-color: dimgray;
    text-align: center;
	cursor: pointer;
}
.tab {
	font-size : 5vh;
	border: 0.5vh solid black;
	border-radius: 1vh;
	text-align: center;
	cursor: pointer;
}
.buyoption {
	display : flex;
	flex-direction: row;
	font-size : 5vh;
	border: 0.3vh solid black;
    border-radius: 1vh;
	cursor : pointer;
	padding: 0.5vh;
}
.rocketoption {
	display : flex;
	flex-direction: row;
	font-size: 3vh;
	border: 0.3vh solid black;
	border-radius: 1vh;
	cursor: pointer;
	padding: 0.5vh;
}
.text {
	text-align: center;
	font-size: 3vh;
}