body {
	display: flex;
	margin: 0;
}
#area {
	background-color: lightyellow;
	cursor: pointer;
	width: 50%;
	height: 30%;
	position: fixed;
}
.items_rocket {
    font-size: 6vh;
	color: white;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: black;
}
.items_thruster {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: skyblue;
}
.items_probe {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: white;
}
.items_astronaut {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: lightgreen;
}
.items_supply {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: lightcoral;
}
.items_capsule {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: violet;
}
.items_sample {
	font-size: 6vh;
	border: 1vh solid black;
    border-radius: 1vh;
	background-color: dimgray;
}